@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img,canvas{
    vertical-align: middle;
}

.clear:after{
    display: block;
    content: ".";
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}